@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "League Spartan", sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul, ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

img {
    padding: 0;
    border: 0;
}

:root {
    font-size: 12px;
    --furever-orange: #ef7122;
    --furever-grey: rgba(57 30 13 0.34);
    --furever-blue: rgba(37, 150, 190);
}

#flex-wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1.5fr 11fr;
    overflow: hidden;
    overflow-x: hidden; 
    min-height: 0px;
    min-width: 0px;
}

*::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

/********************HEADER**************************/
/********************HEADER**************************/
/********************HEADER**************************/
/********************HEADER**************************/
/********************HEADER**************************/
/********************HEADER**************************/

#header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 4rem;
    color: var(--furever-orange);
    padding: 0 3rem;
    position: relative;
}

#user-dropdown-trigger {
    display: none;
}

#user-btn {
    transition: all ease .2s;
}

#user-btn:hover {
    cursor: pointer;
    scale: 1.1;
}

#user-dropdown {
    position: absolute;
    top: 90%;
    color: black;
    background-color: white;
    font-size: 2.5rem;
    font-weight: 400;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    z-index: 999999999;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.15);
}

#user-dropdown > .divisor {
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    top: 48%;
}

#user-dropdown > div {
    display: flex;
    align-items: center;
    height: 100%;
}

#user-dropdown > div:first-child {
    width: 100%;
    padding: 2rem 2rem 2rem 1rem;
    border-radius: 1rem 1rem 0 0;
}

#user-dropdown > div:last-child {
    padding: 1rem 2rem 2rem 2rem;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

#user-dropdown > div:hover {
    cursor: pointer;
    background: var(--furever-orange);
    color: white;
}

#user-dropdown-trigger:checked ~ #user-dropdown {
    display: flex;
}

/************************BODY*************************/
/************************BODY*************************/
/************************BODY*************************/
/************************BODY*************************/
/************************BODY*************************/
/************************BODY*************************/
/************************BODY*************************/

#body {
    padding: 1rem 3rem;
    display: grid;
    grid-template-rows: min-content 1fr;
    min-height: 0;
    min-width: 0;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.05)
}

/******************BODY TOP**********************/
/******************BODY TOP**********************/
/******************BODY TOP**********************/
/******************BODY TOP**********************/

#body-top {
    background-color: var(--furever-orange);
    border-radius: 1rem 1rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
}

#searchbar-wrapper {
    position: relative;
}

#search-id {
    display: none;
}

#searchbar-wrapper > i {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 2rem;
}

#searchbar {
    border: none;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    background-color: white;
    width: max(200px, 50%);
}

#body-content {
    background-color: var(--furever-orange);
    border-radius: 0 0 1rem 1rem;
}

#dropdown-wrapper {
    justify-self: self-end;
    position: relative;
}

#dropdown-trigger {
    display: none;
}

#table-dropdown-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: all ease .2s;
    border: 1px solid rgba(0,0,0,0);
}

#table-dropdown-btn:hover, #dropdown-trigger:checked ~ #table-dropdown-btn {
    cursor: pointer;
    background-color: var(--furever-orange);
    color: white;
    border: 1px solid white;
}

#tables {
    display: none;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
    background-color: white;
    justify-content: center;
    position: absolute;
    top: 120%;
    border-radius: 2rem;
}

#tables > div {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem 0;
    border: 1px solid rgba(0,0,0,0);
    z-index: 423;
}

#tables > div:first-child {
    border-radius: 2rem 2rem 0 0;
}

#tables > div:last-child {
    border-radius: 0 0 2rem 2rem;
}

#tables > div:hover {
    background-color: var(--furever-orange);
    color: white;
    cursor: pointer;
    border: 1px solid white;
}

#dropdown-trigger:checked ~ #tables {
    display: flex;
}

/************************BODY CONTENT******************/
/************************BODY CONTENT******************/
/************************BODY CONTENT******************/
/************************BODY CONTENT******************/
/************************BODY CONTENT******************/
/************************BODY CONTENT******************/
/************************BODY CONTENT******************/

#body-content {
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 15%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
}

/**********************RECORDS*************************/
/**********************RECORDS*************************/
/**********************RECORDS*************************/
/**********************RECORDS*************************/
/**********************RECORDS*************************/
/**********************RECORDS*************************/

.user-record {
    display: grid;
    grid-template-columns: repeat(5, 1fr) min-content;
}

.animal-record {
    display: grid;
    grid-template-columns: repeat(14, 1fr) min-content;
}

.adoption-record {
    display: grid;
    grid-template-columns: repeat(4, 1fr) min-content;
}

.table-header > div:first-child {
    border-top-left-radius: 1rem;
}

.table-header > div:last-child {
    border-top-right-radius: 1rem;
}

.table-header {
    font-weight: bold;
}

#body-content > div:last-child > div:first-child {
    border-bottom-left-radius: 1rem;
}

#body-content > div:last-child > div:last-child {
    border-bottom-right-radius: 1rem;
}

#body-content > div > div {
    background: white;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 1rem;
    font-size: 1.5rem;
    white-space: nowrap;
}

#body-content > div > div:last-child {
    justify-content: center;
}

.delete-record-btn > i {
    transition: all ease .2s;
}

.delete-record-btn > i:hover {
    cursor: pointer;
    scale: 1.3;
    color: rgb(223, 62, 97);
}

#body-content > input {
    display: none;
}

.table-header {
    display: none;
}

#user-table:checked ~ .table-header:first-of-type {
    display: grid;
}

#animal-table:checked ~ .table-header:nth-of-type(2) {
    display: grid;
}

#adoption-table:checked ~ .table-header:nth-of-type(3) {
    display: grid;
}

/******************ALTS**********************/

@media only screen and (max-width: 860px) {
    #body {
        padding: 3rem 1rem;
    }
}
