@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "League Spartan", sans-serif;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul, ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

img {
    padding: 0;
    border: 0;
}

:root {
    font-size: 12px;
    --furever-orange: #ef7122;
    --furever-grey: rgba(57 30 13 0.34);
    --furever-blue: rgba(37, 150, 190);
}

body {
    height: 100%;
    width: 100%;
}

*::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

/*****************BODY***************/
/*****************BODY***************/
/*****************BODY***************/
/*****************BODY***************/
/*****************BODY***************/

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1.5fr 10fr 1fr;
    overflow: hidden;
    overflow-x: hidden; 
    min-height: 0px;
    min-width: 0px;
    background-color: rgb(250, 250, 250);
}

#body {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 1rem 6rem;
    display: grid;
    grid-template-columns: max(385px, 30%) 1fr;
    font-size: 1.5rem;
    color: white;
}

#body > div {
    height: 100%;
    width: 100%;
}

.left-section {
    background-color: var(--furever-orange);
    border-radius: 1rem 0 0 1rem;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 10%) min-content min-content 50% min-content repeat(2, 10%) min-content min-content;
    gap: 1rem;
    overflow-y: scroll;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
}

.info {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: .2rem;
}

.info > input {
    padding: 0 1rem;
    border-radius: 1rem;
    border: none;
}

.info-file {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: .2rem;
}

.info-terms {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: .2rem;
}

.terms-group {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-columns: 10% 1fr;
    align-items: center;
    gap: 1rem;  
}

.terms-group > p > a {
    text-decoration-line: underline;
}

.terms-group > p > a:hover {
    cursor: pointer;
}

.vaccination {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-rows: min-content 1fr 1fr 1fr;
    gap: .2rem;
}

#description {
    border-radius: 1rem;
    padding: 1rem;
}

.radio-group {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.check-group {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-columns: 10% 20% 1fr;
    align-items: center;
    gap: 1rem;
}

.file-group {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-columns: min-content 40% 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.file-group > input[type='file'] {
    display: none;
}

.file-label {
    border: 2px solid white;
    border-radius: 1rem;
    padding: .2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.file-label-disabled {
    border: 2px solid grey;
    color: grey;
}

.file-label-hover:hover {
    cursor: pointer;
    transition: all .2s ease-in;
    background-color: white;
    color: var(--furever-orange);
}

.check-group-2 {
    margin-top: .5rem;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template:
    'input other' min-content
    'text text' 1fr
    /10% 90%;
}

.check-group-2 > input {
    grid-area: input;
}

.check-group-2 > p {
    grid-area: other;
    margin-left: 1rem;
}

.check-group-2 > textarea {
    margin-top: 1rem;
    grid-area: text;
    height: 10rem;
    padding: 1rem;
    border-radius: 1rem;
}

label {
    font-weight: 600;
    text-transform: uppercase;
}

.location-fields {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.button-group {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    color: black;
    display: flex;
    justify-content: center;
}

.save-create-btn {
    border: 2px solid white;
    color: white;
    padding: 1rem 2rem;
    white-space: nowrap;
    width: min-content;
    border-radius: 2rem;
    transition: all ease .2s;
}

.save-create-btn:hover {
    cursor: pointer;
    background-color: white;
    color: var(--furever-orange);
}

.radio-group > input {
    display: none;
}

.right-section {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    border-radius: 0 1rem 1rem 0; 
    padding: 1rem;
    position: relative;
    display: grid;
}

.right-section-top {
    color: var(--furever-orange);
    text-transform: uppercase;
    position: absolute;
    top: 1rem;
    left: 1rem;
} 

.photo-grid {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: flex;
}

.photo-slot {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--furever-orange);
}

.photo-slot > i {
    font-size: 20rem;
    position: absolute;
    transition: all ease .2s;
}

.photo-slot > i:hover {
    cursor: pointer;
    scale: 1.02;
}

.photo-slot > img {
    object-fit: cover;
    z-index: 999;
}

.pseudoradio > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: 2px solid white;
}

.pseudoradio > div:hover {
    cursor: pointer;
}

.radio-group > input:checked + .pseudoradio > div {
    background: white;
}

#tnc-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
    justify-content: center;
    align-items: center;
}

#tnc {
    background-color: white;
    height: 90%;
    width: max(310px, 35%);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    border-radius: 1rem;
    border: 1px solid rgb(185, 185, 185);
    padding: 1rem;
    grid-template-rows: min-content 1fr;
    gap: 1rem;
    display: grid;
}

#tnc > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tnc > div > i {
    font-size: 2rem;
    color: var(--furever-orange);
    transition: all ease-in .2s;
}

#tnc > div > i:hover {
    cursor: pointer;
    color: red;
}

#tnc > div > label {
    color: var(--furever-orange);
    font-size: 1.5rem;
}

#tnc > p {
    overflow: scroll;
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}


@media only screen and (max-width: 1000px) {
    .footer-email {
        display: none;
    }

    #footer > div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #body {
        padding: 0 1rem 1rem 1rem;
    }

}


@media only screen and (max-width: 720px) {
    .footer-email {
        display: none;
    }

    #footer > div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #body {
        padding: 0;
        grid-template:
        'top' 100%
        'bot' 100%
        /1fr;
        overflow-y: auto;
    }

    .left-section {
        border-radius: 0;
        grid-area: bot;
    }

    .right-section {
        border-radius: 0;
        grid-area: top;
    }

}


