@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "League Spartan", sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul, ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

img {
    padding: 0;
    border: 0;
}

:root {
    font-size: 12px;
    --furever-orange: #ef7122;
    --furever-grey: rgba(57 30 13 0.34);
    --furever-blue: rgba(37, 150, 190);
}

#flex-wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1.5fr 10fr 1fr;
    overflow: hidden;
    overflow-x: hidden; 
    min-height: 0px;
    min-width: 0px;
}

*::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

/********************HEADER**********************/
/********************HEADER**********************/
/********************HEADER**********************/
/********************HEADER**********************/

#header {
    padding: 0 2rem 0 3rem;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    font-size: 4rem;
    color: #fff;
    
}

#header > div {
    width: 100%;
}

#header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

#header-left {
    color: black;
    position: relative;
}

#burger-menu-dropdown {
    position: absolute;
    display: none;
    width: 225px;
    top: 100%;
    left: 0%;
    background: white;
    z-index: 423;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 1rem;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.15);
}

.bm-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.bm-item:first-child {
    border-radius: 1rem 1rem 0 0;
}

.bm-item:last-child {
    border-radius: 0 0 1rem 1rem;
}

.bm-item:hover {
    cursor: pointer; 
    background-color: var(--furever-orange);
    color: white;   
}

#burger-menu-trigger {
    display: none;
}

#burger-menu-trigger:checked ~ #burger-menu-dropdown {
    display: flex;
}

#header-right {
    color: var(--furever-orange);
}

.header-buttons  {
    transition: all 0.2s ease;
}

.header-buttons:hover {
    cursor: pointer;
    scale: 1.05;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: var(--furever-orange);
    animation: l2 1s infinite linear;
    position: absolute;
    top: 45%;
    right: 45%;
    height: 50px;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}


/****************BODY TOP*********************/
/****************BODY TOP*********************/
/****************BODY TOP*********************/
/****************BODY TOP*********************/
/****************BODY TOP*********************/
/****************BODY TOP*********************/

#body {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding: 0 10rem 1rem 10rem;
    overflow: hidden;
    min-height: 0;
    min-width: 0;
}

#body-top {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#body-top-left {
    background: white;
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

#searchbar-label {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
}

#searchbar {
    height: 3rem;
    padding: 0 1rem 0 3rem;
    width: max(200px, 70%);
    border-radius: 1.2rem;
    border: 2px solid black;
    font-size: 2rem;
    font-weight: bolder;
    
}

#search-form {
    display: none;
}

#body-top-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#location-dropdown {
    height: 3rem;
    padding: 0 2rem 0 2rem;
    border-radius: 1.2rem;
    border: 2px solid black;
    background-color: white;
    width: max(177px, 50%);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

#location-dropdown-label {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2rem;
    font-weight: bolder;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

#location-dropdown-label > p {
    min-width: 0;
    width: 100%;
    justify-self: center;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#location-dropdown:hover, #location-dropdown-trigger:checked ~ #location-dropdown {
    cursor:pointer;
    scale: 1.02;
    color: white;
    background: var(--furever-orange);
    border: none;
}

#location-dropdown-trigger {
    display:none;
}

#cities {
    position: absolute;
    top: 90%;
    width: max(177px, 50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-transform: uppercase;
    font-size: 2rem;
    height: 400px;
    border-radius: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    color: black;
    display: none;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.15);
}

#location-dropdown-trigger:checked ~ #cities {
    display: flex;
}

.city {
    width: 100%;
    text-align: center;
    padding: .5rem 1rem;
}

.city:first-child {
    padding-top: 1.5rem;
}

.city:last-child {
    padding-bottom: 1.5rem;
}

.city:hover {
    background-color: var(--furever-orange);
    color: white;
    cursor: pointer;
}

/**********BODY CONTENT*************/
/**********BODY CONTENT*************/
/**********BODY CONTENT*************/
/**********BODY CONTENT*************/
/**********BODY CONTENT*************/
/**********BODY CONTENT*************/
/**********BODY CONTENT*************/

#body-content {
    max-height: 100%;
    overflow-x: scroll;
    min-height: 0;
    min-width: 0;
}

#listing-scroll {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2rem;
    min-height: 0;
    min-width: 0;
    position: relative;
}

.listing {
    background-color: var(--furever-orange);
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 25%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content;
    overflow: hidden;
    transition: all ease .2s;
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.10);
}

.listing-pic {
    height: 100%;
    width: 100%;
    justify-self: center;
    object-fit: cover;
    min-height: 0;
    min-width: 0;
}

.listing-name {
    text-transform: capitalize;
    text-overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: .5rem 0;
}

.listing:hover {
    min-width: 50%;
    cursor: pointer;
    transition-delay: .5s;
}

/*************FOOTER**********************/
/*************FOOTER**********************/
/*************FOOTER**********************/
/*************FOOTER**********************/

#footer {
    background-color: var(--furever-blue);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-email {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    gap: .5rem;
}

/*************ALTERNATIVE LAYOUT****************/
@media only screen and (max-width: 519px) {
    .listing {
        min-width: 100%;
    }

    #body {
        padding: 0 2rem 1rem 2rem;
    }
}

@media only screen and (min-width: 520px) and (max-width: 620px) {
    #body {
        padding: 0 2rem 1rem 2rem;
    }

    .listing {
        min-width: 50%;
    }
}

@media only screen and (min-width: 621px) and (max-width: 919px) {
    .listing {
        min-width: 50%;
    }

    #body {
        padding: 0 6rem 1rem 6rem;
    }
}

@media only screen and (min-width: 920px) and (max-width: 1170px) {
    .listing {
        min-width: 33%;
    }

    #body {
        padding: 0 6rem 1rem 6rem;
    }
}



@media only screen and (max-width: 1000px) {
    .footer-email {
        display: none;
    }

    #footer > div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
