body {
  font-family: 'League Spartan', sans-serif;
}

.menu-item.active {
  background-color: #e5e7eb;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.menu-item span {
  font-weight: normal; 
}

.menu-item.active span {
  font-weight: bold; 
}

.input-oval {
  border-radius: 9999px;
}

.input-black-border {
  border-color: black;
}

#flex-wrapper {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  

}

#header-left {
  display: flex;
  align-items: center;
}

#header-right {
  display: flex;
  align-items: center;
}

.header-buttons {
  margin-left: 10px;
}


#body {
  padding: 20px;
}

