@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "League Spartan", sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul, ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

img {
    padding: 0;
    border: 0;
}

:root {
    font-size: 12px;
    --furever-orange: #ef7122;
    --furever-grey: rgba(57 30 13 0.34);
    --furever-blue: rgba(37, 150, 190);
}

#flex-wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1.5fr 10fr 1fr;
    overflow: hidden;
    overflow-x: hidden; 
    min-height: 0px;
    min-width: 0px;
}

*::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

/*************BODY*********************/
/*************BODY*********************/
/*************BODY*********************/
/*************BODY*********************/
/*************BODY*********************/

#body {
    height: 100%;
    width: 100%;
    padding: 1rem 6rem 1rem 6rem;
    min-height: 0;
    min-width: 0;
}

#listing-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2.5fr;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15)
}

/*****************PICTUES******************/
/*****************PICTUES******************/
/*****************PICTUES******************/
/*****************PICTUES*********************/
/*****************PICTUES*********************/
/*****************PICTUES*********************/

#pictures {
    background: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: .5rem;
    min-width: 0;
    min-height: 0;
}

#pictures-left {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;

    display: grid;
    grid-auto-rows: 33.33%;
    gap: .5rem;
    overflow-y: auto;
    overflow-x: hidden; 
}

#pictures-left > img, #pic-right-slider > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    min-height: 0;
    min-width: 0;
}

#pictures-right {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;

    overflow: hidden; 
    position: relative;
}

#pic-right-slider {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
    display: grid;
    grid-auto-rows: 100%;
    gap: .5rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#pic-right-slider > img {
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#add-to-wishlist-btn {
    position: absolute;
    font-size: 4rem;
    color: white;
    top: 1rem;
    right: 1rem;
    transition: all ease .25s;
    z-index: 1000;
}

#add-to-wishlist-btn:hover {
    cursor: pointer;
    scale: 1.05;
    color: var(--furever-orange);
}

#pic-right-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 1rem 1.5rem;
    display: grid;
    grid-template:
    'name gender' 1fr
    'breed gender' 1fr
    /1fr min-content;
    z-index: 999;
    overflow: hidden;
}

#name {
    grid-area: name;
    font-size: 2rem;
}

#breed {
    grid-area: breed;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 2rem;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#gender {
    grid-area: gender;
    justify-self: end;
    align-self: center;
    font-size: 3rem;
}

#male, #female {
    display: none;
}

#male-trigger:checked ~ #male {
    display: block;
}

#female-trigger:checked ~ #female {
    display: block;
}

#pictures-right input {
    display: none;
}

/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/

#details {
    background: var(--furever-orange);
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    overflow-x: hidden;
    overflow-y: none;
    gap: 1rem;
    padding: 1rem;
    color: white;
}

#details-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

#details-top > div {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    scroll-snap-align: start;
}

#details-top-values > div {
    display: flex;
    gap: 1rem;
}

.radio-btn {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 3px solid white;
}

.d-b-label {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

#description {
    overflow: auto;
    font-size: 1.5rem;
    text-align: justify;
    white-space: pre-line;
}

#lvv-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

#ohi-wrapper {
    display: grid;
    grid-template-rows: min-content 1fr;
    font-size: 1.5rem;
    gap: 1rem;
}

#other-health-info {
    text-align: justify;
}

#v-wrapper {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    gap: 1rem;
    font-size: 1.5rem;
}

.vaccine {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    gap: 1rem;
    justify-items: center;
}

#vo-wrapper {
    font-size: 1.5rem;
    text-align: justify;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(2, min-content);
}

#p-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
    gap: 1rem;
    text-align: center;
}

.button {
    justify-items: center;
    font-size: 1.5rem;
    border: 2px solid grey;
    color: grey;
    padding: .2rem .5rem;
    border-radius: 1rem;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.enabled {
    border: 2px solid white;
    color: white;
}

.enabled:hover {
    cursor: pointer;
    background-color: white;
    color: var(--furever-orange);
    transition: all ease .2s;
}

.checked {
    background-color: white;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

#contact > div {
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}


@media only screen and (max-width: 1000px) {
    .footer-email {
        display: none;
    }

    #footer > div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}

@media only screen and (max-width: 830px) {
    #body {
        padding: 1rem 2rem 1rem 2rem;
    }
}

@media only screen and (max-width: 720px) {
    #listing-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 100% 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #body {
        padding: 1rem;
    }

    #details-top {
        justify-content: space-between;
    }

    #details-top-values {
        justify-content: center;
    }
}

@media only screen and (max-width: 360px) {
    #p-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
    }
}
